<nav class="nav" role="navigation">
  <div class="nav--mobile">
    <span {{action "removeMobileNavClass"}}>
      {{link-to "So Ember" "index" class="logo"}}
    </span>
    <span class="nav__icon" {{action "toggleMobileNavClass"}}>
      <span class="nav__icon__top"></span>
      <span class="nav__icon__middle"></span>
      <span class="nav__icon__bottom"></span>
    </span>
  </div>
  <div class="nav__links" {{action "removeMobileNavClass"}}>
    {{link-to "Schedule" "schedule" class="nav__link"}}
    {{link-to "Speakers" "speakers" class="nav__link"}}
    {{link-to "Code of conduct" "code-of-conduct" class="nav__link"}}
    {{ex-link-to label="Buy tickets" href="//ti.to/wicked-good/soember-2017" class="nav__link"}}
  </div>
</nav>
<main class="l-main" role="main">
  {{outlet}}
</main>
<footer class="footer" role="contentinfo">
  <p>
    Made with love by
    <a class="footer__link t-link" href="http://dockyard.com" target="_blank">DockYard</a>
  </p>
  <p>
    Follow us on Twitter
    <a class="t-link" href="https://twitter.com/soemberconf" target="_blank">@soemberconf</a> or read the {{link-to "Code of conduct" "code-of-conduct" class="t-link"}}
  </p>
</footer>
