<nav class="nav">
  <div class="nav__links">
    {{link-to "Attend" "index" class="nav__link"}}
    {{link-to "Schedule" "schedule" class="nav__link"}}
    {{link-to "Speakers" "speakers" class="nav__link"}}
  </div>
</nav>
<main>
  {{outlet}}
</main>
<footer class="footer">
  <p>
    Made with love by
    <a class="footer__link t-link" href="http://dockyard.com" target="_blank">DockYard</a>
  </p>
  <p>
    Follow us on Twitter
    <a class="t-link" href="https://twitter.com/soemberconf" target="_blank">@soemberconf</a> or read the {{link-to "Code of conduct" "code-of-conduct" class="t-link"}}
  </p>
</footer>
