<header class="l-header">
  <h1 class="t-display">Schedule</h1>
</header>
<section class="l-section-_-thin">
  <h2 class="schedule__day">
    <span>Thursday</span>
    <time datetime="2017-01-26">January 26, 2017</time>
  </h2>
  <div class="l-schedule__rows">
    <div class="schedule__row">
      <time class="schedule__time" datetime="18:00">6:00 pm</time>
      <div class="schedule__row__right">
        <h4 class="schedule__row__title">Fire Pit &amp; S’more Fiesta</h4>
        <p class="schedule__row__text">Gather round the fire on the beach just outside of the lovely hotel for a roasty toasty evening of sugar and socializing.</p>
      </div>
    </div>
  </div>

  <h2 class="schedule__day">
    <span>Friday</span>
    <time datetime="2017-01-27">January 27, 2017</time>
  </h2>
  <div class="l-schedule__rows">
    <div class="schedule__row">
      <time class="schedule__time" datetime="09:00">9:00 am</time>
      <div class="schedule__row__right">
        <h4 class="schedule__row__title">Opening Announcements</h4>
      </div>
    </div>
    <div class="schedule__row">
      <time class="schedule__time" datetime="09:20">9:20 am</time>
      <div class="schedule__row__right">
        <h4 class="schedule__row__title">A journey through Ember.js glue</h4>
        {{link-to "Mike North" "speakers" class="t-link t-link--big"}}
      </div>
    </div>
    <div class="schedule__row">
      <time class="schedule__time" datetime="10:05">10:05 am</time>
      <div class="schedule__row__right">
        <h4 class="schedule__row__title">Building Accessible Applications: A Reasonable Approach</h4>
        {{link-to "Melanie Sumner" "speakers" class="t-link t-link--big"}}
      </div>
    </div>
    <div class="schedule__row">
      <time class="schedule__time" datetime="10:50">10:50 am</time>
      <div class="schedule__row__right">
        <h4 class="schedule__row__title">Failing Fast: Haskell Inspired Error Handling in Ember</h4>
        {{link-to "Daniel Chappel" "speakers" class="t-link t-link--big"}}
      </div>
    </div>
    <div class="schedule__row">
      <time class="schedule__time" datetime="11:30">11:30 am</time>
      <div class="schedule__row__right">
        <h4 class="schedule__row__title">Lunch: Mexican Fiesta Buffet</h4>
      </div>
    </div>
    <div class="schedule__row">
      <time class="schedule__time" datetime="13:30">1:30 pm</time>
      <div class="schedule__row__right">
        <h4 class="schedule__row__title">Lazy Loading Engines: Anything But “Lazy”</h4>
        {{link-to "Trent Willis" "speakers" class="t-link t-link--big"}}
      </div>
    </div>
    <div class="schedule__row">
      <time class="schedule__time" datetime="14:15">2:15 pm</time>
      <div class="schedule__row__right">
        <h4 class="schedule__row__title">DOMless* rendering with Ember</h4>
        {{link-to "Miguel Andrade" "speakers" class="t-link t-link--big"}}
      </div>
    </div>
    <div class="schedule__row">
      <time class="schedule__time" datetime="15:00">3:00 pm</time>
      <div class="schedule__row__right">
        <h4 class="schedule__row__title">Snack Break</h4>
      </div>
    </div>
    <div class="schedule__row">
      <time class="schedule__time" datetime="15:30">3:30 pm</time>
      <div class="schedule__row__right">
        <h4 class="schedule__row__title">Boots and Shoeboxes</h4>
        {{link-to "Jonathan Jackson" "speakers" class="t-link t-link--big"}}
      </div>
    </div>
    <div class="schedule__row">
      <time class="schedule__time" datetime="16:15">4:15 pm</time>
      <div class="schedule__row__right">
        <h4 class="schedule__row__title">Keynote</h4>
        {{link-to "Luke Melia" "speakers" class="t-link t-link--big"}}
      </div>
    </div>
  </div>

  <h2 class="schedule__day">
    <span>Saturday</span>
    <time datetime="2017-01-28">January 28, 2017</time>
  </h2>
  <div class="l-schedule__rows">
    <div class="schedule__row">
      <time class="schedule__time">TBD</time>
      <div class="schedule__row__right">
        <h4 class="schedule__row__title">Surf's Up!</h4>
        <p class="schedule__row__text">Gear up in a wet suit and jump into the wild blue Pacific with a bunch of Emberiños.</p>
      </div>
    </div>
  </div>
</section>
